<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.restcomm.android.sdk"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Dangerous -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.USE_SIP"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <!--     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->

    <uses-feature
        android:name="android.hardware.sip.voip"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name">
        <service android:name="org.restcomm.android.sdk.RCDevice" android:enabled="true" android:exported="false">
        </service>
    </application>

</manifest>